


.containerPage{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 90%;  
    margin: auto;
    
}

.backButton{    
    display: flex;
    width: 60px;
    height: 60px;
    background-color: #FFB905;
    align-items: center;
    justify-content: center;
    border: none;    
    border-radius: 10px;   
}




.backButton:hover {
    background-color: #f8bf45;
    cursor: pointer;
}


.backButton:active {
    background-color: #e49c02;
}

.depName{
    color: #FFB905;
    font-family: 'Roboto' , sans-serif;
    font-weight: 900;
    font-size: 55px;
}

.containerHeader{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.hrBorder {
    border-bottom: 1;
    border-style: solid;
    width: 100%;
    border-color: #FFB905;  
    border-width: 1px;
    background: #FFB905;
    border-radius: 8px;
  }

  .containerGerente{
    display: flex; 
    margin-top: 15px;   
    width: 100%;
    background-color: #f8f6f6;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
    height: 350px;      
    border-radius: 14px;
    
}

  .containerChefeDep{
      display: flex;
      margin-top: 15px;
      width: 100%;
      background-color: #f8f6f6;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 15px;
      height: 350px;      
      border-radius: 14px;
  }

  .img400x400 {
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 200px;
    padding: 20px;
}

  .containerInfo{
      display: flex;
      width: 100%;
      height: 100%;
      margin-left: 10px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
  }

  .spanInfo{
      font-size: 20px;
      color: #333333;
      margin-top: 4px;
      font-family: 'Roboto' , sans-serif;
      font-weight: 900;
  }

  .spanInfoResponse{
    font-family: 'Roboto' , sans-serif;
    font-weight: 400;
  }


  .containerFuncNum2 {
    display: flex;
    margin-top: 15px;
    width: 100%;
    background-color: #f8f6f6;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
    height: 350px;      
    border-radius: 14px;
  }


  .textoFuncao{
      color: #FFB905;
      font-family: 'Roboto' , sans-serif;
      font-weight: 900;
      position: absolute;      
      right: 8%;
  }

  .subTitulo{
    color: #FFB905;
    font-family: 'Roboto' , sans-serif;
    font-weight: 900;
    font-size: 35px;
  }

  .containerSubTitulo{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
      margin-top: 25px;
      width: 100%;
    
  }

  .iconStyle{
      margin: 0;
  }

  .organogramaEstilo{      
      width: 100%;
      height: 100%;
      margin-bottom: 30px;
  }

  .containerInfoDep{
    display: flex;
    width: 70%;
    background-color: #f8f6f6;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    height: 350px;      
    border-radius: 14px;
    flex-direction: column;
    margin: auto;
    margin-top: 15px;
  }


  .tabela{      
      width: 100%;
      min-width: 400px;
      border-collapse: collapse;
      margin: 25px 0;
      border-radius: 5px 5px 0 0;
      overflow: hidden;
      border: 2px solid #FFB905;
      table-layout: fixed;
}


.tabela thead tr{ 
    background-color: #FFB905;
    font-size: 24px;
    text-align: center;
    font-family: 'Roboto' , sans-serif;
    font-weight: 900;
    height: 50px;
   
}

.tabela tbody tr{
    text-align: center;
    border: 5px solid #FFB905;
}


.tabela tbody tr td{
    text-align: center;
    border: 5px solid #FFB905;
    height: 50px;
   
}



.containerChefeDep2{
    display: flex;
    width: 33%;
    height: 60%;
    background-color: #f0f0f0;
    border-radius: 10px;
    flex-direction: column;
    overflow: hidden;
    margin: 10px
}

.asideChefedep{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;     
}

.headerChefedep{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #ecc46d;
    z-index: 0;
}

.asideRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    
}

.imgNew{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin-top: 20px;
    border: #FFB905;
    border-style: solid;
    border: 1;
}


.nameDep{
    color: #000;
    background-color: #FFB905;
    font-weight: bold;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.hrNew{
    border-bottom: 1;
    border-style: solid;
    width: 80%;
    border-color: #FFB905;  
    border-width: 1px;
    background: #FFB905;
    border-radius: 8px;
}

.containerInfo2{
      display: flex;
      flex-direction: column;
      width: 85%;
      height: 100%;     
      justify-content: center;
      align-items: center;
      margin-top: 10px;
}

.containerTextInfo2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 5px
    }

.containerChefes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.textProfileLeft{
    margin-left: 15px;
    font-size: 14;
    color: rgb(55, 55, 55);
    font-weight: bold;    
}

.textProfileRight{
    color: #FFB905;
    font-weight: bold;
    font-size: 16px;
}
