

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;  
}


.container-depositos{    
    display: flex;    
    padding: 35px;
    width: 80%;
    height: 70%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    flex-direction: row;
    border-style: solid;
    border-color: #FFB905;
    border: 2;
}

.wrapper{    
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    gap: 2em;    
}

.card-deposito{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    border-radius: 4px;
    margin: 8px;
    border-style: solid;
    border-color: #d6d6d6;
    border: 1;
}

.text-deposito{
    font-size: 30px;
    font-family: 'Roboto' , sans-serif;
    font-weight: 900;
    color: #FFB905;
}

.card-deposito:hover{
    border-style: solid;
    border: 1;
    border-color: #FFB905;
    background-color: #fff;   
    cursor: pointer; 
    transform: scale(1.4);
    box-shadow: 0 0 1em rgb(139, 139, 139);
}


