

.containerPage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    flex-direction: column;
   
}

.containerDepositos{    
    display: flex; 
    flex-direction: row;
    
}

.loadingContainer{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.hrBorder {
    border-bottom: 1;
    border-style: solid;
    width: 80%;
    border-color: #FFB905;  
    border-width: 1px;
    background: #FFB905;
    border-radius: 8px;
    margin-top: -45px;

  }

  .subTitulo{
    color: #FFB905;
    font-family: 'Roboto' , sans-serif;
    font-weight: 900;
    font-size: 35px;
  }

  .containerSubTitulo{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 80%;
    
  }

.wrapper{    
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
    gap: 5.5em;    
}

.cardDeposito{
    display: flex;
    width: 150px;
    height: 150px;
    background-color: rgb(248, 248, 248);
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    
    color:rgb(138, 138, 138)
}

.textDeposito{
    font-size: 30px;
    font-family: 'Roboto' , sans-serif;
    font-weight: 900;
    
}

.cardDeposito:hover{
    color: #FFB905;
    border-style: solid;
    border: 1;
    border-color: #FFB905;
    background-color: #fff;   
    cursor: pointer; 
    transform: scale(1.7);
    box-shadow: 0 0 1em rgb(139, 139, 139);
}


.linkDep{
    text-decoration: none !important;
}

