

.containerPage{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;  
  margin: auto;
  background-image: linear-gradient(to right, #ffb100, #f5b000, #ecaf00, #e2ad00, #d9ac00, #d6ac00, #d2ac00, #cfac00, #d0ad00, #d2ae00, #d3af00, #d5b000);
}



.container{ 
    width: 100%;
    height: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: row; 
}

.loginPageImg{
  max-width: 600px;
  max-height: 600px;
}

.formContainer {
    width: 100%;
    max-width: 450px;
    
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 14px;
}

.loginCard{
    width: 60%;
    height: 70vh;    
    display: flex;    
    justify-content: space-between;
    align-items: center;
    border-radius: 14px;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    background-color :rgba(255, 255, 255, 0.7);
    
    
}


  
.inputForm{  
  width: 100%;
  height: 45px;
  color: rgb(54, 54, 54);
  border: none;
  border-radius: 4px;
  padding: 0 24px;
  margin-top: 10px; 
  background-color: #fff;
  padding: 0 20px;
  font-size: 16px; 
}


::placeholder { 
  color: rgb(181, 181, 181);
}

.containerSmallText{
  display: flex;
  width: 95%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  font-size: 16px;
}
  
  

  .button:active {
    background-color: #e49c02;
}

  
  input, button, textarea {
    font: 400 18px Roboto, sans-serif;
  }
  

  

.loginContainer form input::placeholder {
    color: #999
}

.button { 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  border: 0;
  border-radius: 4px;
  height: 55px;
  font-size: 16px;
  background-image: linear-gradient(to right, #ffd300, #fed123, #fdcf35, #fbce42, #f9cc4e);
  font-weight: bold;
  color: #FFF;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 100px;
  font-size: 20px;
}

.formContainer{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.textoLabel{
    margin-top: 10px;
    font-weight: bold;
}

.linkLogin{
    font-size: 14px;
    margin-bottom: 10px;
    
}

.linkLoginContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



h3{
  color: #FFB905;
  font-weight: bold;
  margin: 10px;
}


.containerFooter{
  display: flex;
  width: 100%;
  height: 40px;
    
  align-items: center;
  justify-content: flex-start;
}

.textoFooter{
  font-size: 12px;
  font-family: 'Roboto' , sans-serif;
  font-weight: 400;    
  color: #fff;
  margin-left: 20px;
}

.inputForm:focus {
  outline: none !important;
   
}

.inputForm2:focus {
  outline: none !important;
 
   
}

.smallLink:hover{
  text-decoration: underline;
  cursor: pointer;
  color:#FFB905
}


.inputForm2{
  width: 100%;
  height: 45px;
  color: rgb(54, 54, 54);
  transition: all 0.0s ease-in-out;
  border: 2px solid rgb(13, 255, 0);
  border-radius: 4px;
  padding: 0 24px;
  margin-top: 10px; 
  background-color: #fff;
  padding: 0 17px;
  font-size: 16px; 
}

.inputFormPasswordChecked:focus {
  outline: none !important;
 
   
}

.inputFormPasswordChecked{
  width: 100%;
  height: 45px;
  color: rgb(54, 54, 54);
  transition: 0.0s;
  border: 2px solid rgb(13, 255, 0);
  border-radius: 4px;
  padding: 0 24px;
  margin-top: 10px; 
  background-color: #fff;
  padding: 0 17px;
  font-size: 16px; 
}

.labelLogin{
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  
  margin-top: 15px;
  font-size: 16px;
  font-weight: 900;
}

.loginHeader{
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 32px;
  font-weight: 900;
}

.subHeader{
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  color: rgb(121, 121, 121);
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
}