

.containerPage{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;  
  margin: auto;
 
  
}



.container{ 
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: row; 
}

.loginPageImg{
  max-width: 600px;
  max-height: 600px;
}

.formContainer {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.loginCard{
    width: 70%;
    height: 70vh;    
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    border-radius: 14px;
    flex-direction: row;
    padding-left: 100px;
    padding-right: 100px;
    
}


  
.inputForm{
  
  width: 100%;
  height: 55px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 4px;
  padding: 0 24px;
  margin-top: 10px;
   
   
    padding: 0 20px;
    font-size: 14px;
    
}
  
  
  .button:hover {
      
    background-color: #f8bf45;
      
  }

  .button:active {
    background-color: #e49c02;
}

  
  input, button, textarea {
    font: 400 18px Roboto, sans-serif;
  }
  

  

.loginContainer form input::placeholder {
    color: #999
}

.button { 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  border: 0;
  border-radius: 4px;
  height: 55px;
  font-size: 16px;
  background: #FFB905;
  font-weight: bold;
  color: #FFF;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 100px;
  font-size: 20px;
}

.formContainer{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.textoLabel{
    margin-top: 10px;
    font-weight: bold;
}

.linkLogin{
    font-size: 14px;
    margin-bottom: 10px;
    
}

.linkLoginContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



h3{
  color: #FFB905;
  font-weight: bold;
  margin: 10px;
}




