
.loginContainer{ 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.formContainer {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.loginCard{
    width: 100%;
    height: 300px;
    max-width: 550px;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    flex-direction: column;
    
}

form input {
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
  }

  
  
  .button:hover {
      
    background-color: #f8bf45;
      
  }

  .button:active {
    background-color: #e49c02;
}

  
  input, button, textarea {
    font: 400 18px Roboto, sans-serif;
  }
  
  button {
    cursor: pointer;
  }

  
.loginContainer form input {
    margin-top: 10px;
    border: 1px solid #DDD;
    border-radius: 4px;
    height: 34px;
    padding: 0 20px;
    font-size: 14px;
    color: #666;
}

.loginContainer form input::placeholder {
    color: #999
}

.button { 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  border: 0;
  border-radius: 4px;
  height: 34px;
  font-size: 16px;
  background: #FFB905;
  font-weight: bold;
  color: #FFF;
  cursor: pointer;
  margin-bottom: 10px;
}

.formContainer{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.textoLabel{
    margin-top: 10px;
    font-weight: bold;
}

.linkLogin{
    font-size: 14px;
    margin-bottom: 10px;
    
}

.linkLoginContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


  .loginContainer form input:focus {   
    border: 2px solid #FFB905;
    border-radius: 4px;
}


.versaoTexto{
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 14px;
  color: #dcdce6;
}

h3{
  color: #FFB905;
  font-weight: bold;
  margin: 10px;
}

.loginContainer{
  font: 400 14px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(329.54deg, #fdc025 0%, #8a6404 100%);
}



