
.containerPage{
    display: flex;   
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.containerPageRow{
    display: flex;   
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.asideContainer{
    width: 300px;    
    padding: 20px;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .loadingContainer{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
  
.asideContainer h2 {
    font-size: 25px;
    font-family: 'Roboto' , sans-serif;
    font-weight: 900;    
    margin-top: 54px;
    margin-bottom: 60px;
  }
  
  
  .filterButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    border: none;
    margin-top: 10px;
    font-size: 12px;
  }

  .filterButton:hover{   
    background-color: rgb(233, 233, 233);
    
  }

  .filterButton:active{
   
    background-color: rgb(160, 160, 160);
    
  }
  