.containerNavbar{    
   display: flex;
   width: 100%;
   height: 70px;
   background-color: rgb(242, 242, 242);   
   align-items: center;
   justify-content: flex-start;      
   z-index: 1; 
}

  .containerOptions { 
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: center;   
      cursor: pointer;  
      
}

.menuLeft{
  margin-left: 50px;
  
}

.menuRight{
  margin-right: 50px;
}

.linkText:hover {
    transition: all 0.1s;  
    font-weight: 900;  
    border-bottom:5px solid #FFB905;    
    color:#FFB905;    
  } 


 .linkText{
    text-decoration: none !important;
    color: rgb(39, 39, 39);
    font: 400, Roboto, sans-serif;
    font-size: 18px;
    text-decoration: none;
    margin: 15px;
    
  }

  .optionIcon{
    
    color: rgb(39, 39, 39);    
    margin: 15px;
  }

  
